
<div ng-include="'/views/elements/header.html'"></div>
<h1>Welcome Home</h1>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, possimus, ullam? Deleniti dicta eaque facere, facilis in inventore mollitia officiis porro totam voluptatibus! Adipisci autem cumque enim explicabo, iusto sequi.</p>
<hr>

<a ui-sref="users" class="btn btn-info">Manage user</a>
<a ui-sref="add_user" class="btn btn-primary">Add new user</a>
<div ng-include="'/views/elements/footer.html'"></div>